body{
    font-family: 'Poppins', sans-serif;
    margin: 2;
}  
h1{
   font-size: 50px; 
}  
.orange-color{
    color:orange;
}
section{
    display: flex;
    margin-bottom: 70px;
}
.half-width{
    width: 700px;
    padding-left: 10;
    
}
.half-width img{
    width: 80%;
}
.link-button{
   text-decoration: none; 
   background-image: linear-gradient(orange, tomato);
   padding: 10px 40px;
   border-radius: 5px;
   color: white;
   font-weight: 700;
   border-radius: 50px;
}
.top-banner{
    background-image: url(images/top-banner.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: left;
}
.about-me{
    background-image: url(images/about-me.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: right;
}
.recipie-item{
  width: 40%;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 2%;
  margin-bottom: 2%;
  padding-left: 20px;
  border-radius: 15px;
  box-shadow: 10px 10px 40px gray;  
}
footer p {
    text-align: center;
}
